<app-navbar></app-navbar>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<div class="wrapper fadeInDown">
  <div id="formContent">
    <section class="h-100 gradient-form" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-xl-10">
            <div class="card rounded-3 text-black">
              <div class="row g-0">
                <div class="col-lg-6">
                  <div class="card-body p-md-5 mx-md-4">

                    <div class="text-center">
                      <img src="https://cdn-icons-png.flaticon.com/512/3696/3696500.png" style="width: 185px;"
                        alt="logo">
                      <h4 class="mt-1 mb-5 pb-1">Company Branches</h4>
                    </div>

                    <form>
                      <p>Please login to your account</p>
                      <form (ngSubmit)="login()">
                        <div class="form-outline mb-4">
                          <input [(ngModel)]="company.username" name="username" type="text" id="login" class="form-control" 
                            placeholder="username">
                          
                        </div>

                        <div class="form-outline mb-4">
                          <input [(ngModel)]="company.password" name="password" type="password" id="password" class="form-control"
                            placeholder="password">
                          
                        </div>
                      

                      <div class="text-center pt-1 mb-5 pb-1 form-check" type="submit" value="submit">
                        <input type="submit" class="fadeIn fourth" value="Log In">
                      </div>
                      
                    </form>

                      <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">Don't have an account?</p>
                        <button type="button" class="btn btn-outline-danger" routerLink="/register">Create new</button>
                      </div>

                    </form>

                  </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                  <div class="text-white px-3 py-4 p-md-5 mx-md-4">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>